# Server
fastapi
uvicorn[standard]

# Core ML
python-multipart
pillow
diffusers==0.30.2
transformers==4.43.3         # <-- pinned to work with diffusers 0.30.2
accelerate
safetensors
numpy
scipy
huggingface-hub>=0.23.0

# Optional
boto3
